@media screen and (max-width: 600px) {
  .brand-logo img{
    max-width:100px;
    margin-right: 150px;
    margin-left: 142px;
  }
  .our-service-card{
    padding: 10px!important;
    margin: 10px;
    border-radius: 100px;
  }
}
.bg-color{
  background-color:#1e1d1d;
  overflow: hidden;
}
.shape{
  padding-top:100px;
}
.shape h1{
  color: white;
  font-weight: bold;
  font-size: 80px;
}
/*********************************************** Navbar css */
.my-navbar{
  padding: 10px;
  background-color: #0d0e0f;
}
.my-navbar .navbar-toggler{
  margin: 10px;
  background-color:  var(--iq-primary);
  border-color: #008000;
}
/*********************************************** Navbar css  close */
/*********************************************** Join Now Button css */
.btn-join{
  margin-top: 20px;
   background-color:  var(--iq-primary);
}
.btn-join:hover {
  box-shadow: 0 0 0 18px transparent;
  animation: pulse 1s;
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--iq-primary);
  }
}
/********************************************** Join Now Button css close*/
/********************************************** Brand Logo css */
.brand-logo{
  padding: 20px;
  background-color: #0d0e0f;
  box-shadow: inset 0px 8px 25px -10px gray;
}
.brand-logo img{
  max-width:150px;
  padding-bottom: 5px ;
}
/********************************************** Brand Logo css close */
/********************************************** Our Services css */
.our-services-section{
    padding: 15px;
}
 .our-service-card{
   background-color: #131313;
   padding: 30px;
   margin: 80px;
   border-radius: 10px;
 }
/* In with media query use*/
.services-heading h2{
  text-align: center;
  color: var(--iq-primary);
}
.services-heading p{
  text-align: center;
  color: var(--iq-white);
}
 .sheet-body{
   background-color:#1e1d1d!important;
}
.our-service-img{
  max-width: 500px;
  height: 180px;
  border-radius: 20px;
}
/********************************************** Our Services css close */
/********************************************** About us css */
.shape-img{
  max-width: 500px;
}
/********************************************** About us css close */
/********************************************** Our Classes css */
.our-classes-title h2{
  color: var(--iq-primary);
  padding-top: 50px;
}
.our-classes-title p{
  color: var(--iq-white);
  padding-top: 10px;
  padding-bottom: 10px;
}
/********************************************** Our Classes css close*/
/********************************************** Our Trainer css*/
.trainer-icon i{
  margin-right: 10px;
}
/********************************************** Our Trainer css close*/
/********************************************** Send Massage css */
.send-massage{
  background-color: #000000;
}
.send-massage .couple-img{
  text-align: center;
}
.send-massage .size-fix{
  max-width: 1200px;
}
/********************************************** Send Massage css close*/
/********************************************** Quick Contact css */
.my-footer{
  background-color: #1e1d1d;
  padding: 100px 0;
}
.my-footer img{
  max-width: 60px;
  border-radius: 60%;
}
.my-footer h1{
  margin-left: 10px;
  margin-top: 8px;
  color: var(--iq-white);
}
.my-footer p{
  margin-top: 10px;
  color: var(--iq-white);
}
.my-footer .quick-contacts h3{
  margin-top: 10px;
  color: var(--iq-primary);
}
.my-footer .quick-contacts i{
  color: var(--iq-primary);
  font-size: 30px;
  margin-right: 20px;
}
.my-footer .contact-number {
  margin-top: 70px;
}
.my-footer .contact-number i{
  color: var(--iq-primary);
  font-size: 30px;
  margin-right: 20px;
}

/********************************************** Quick Contact css close */
/********************************************** Footer css */
.copyright{
  text-align: center;
  background-color:var(--iq-primary);
}
.copyright p{
  padding: unset;
  color: var(--iq-white);
  font-size: 20px;
}
/********************************************** Footer css close */
